<<<<<<< HEAD
<% if searching? %>
  <h2><%= t('results_for', :scope => 'refinery.admin.search', :query => params[:search]) %></h2>
<% end %>
=======
<%= render 'refinery/admin/search_header', :url => refinery.admin_images_path %>
>>>>>>> 2-1-main
<div class="pagination_container">
  <% if @images.any? %>
    <%= render 'images' %>
  <% else %>
    <p>
      <% if searching? %>
        <%= t('no_results', :scope => 'refinery.admin.search') %>
      <% else %>
        <strong>
          <%= t('.no_images_yet') %>
        </strong>
      <% end %>
    </p>
  <% end %>
</div>
